<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>form</title>
</head>

<body>
    <h3>this form created html code<h3>
    <form action="" mrthod="post">
        <label for="user_name">test field</label>
        <input typr="text" name="user_name" value="" required>
        
        <label for="user_email">user_email</label>
        <input typr="email" name="user_email" placeholder="please enter email">

        <input type="submit" name= "submit" value="submit" required>
    </form>
    <hr>
    <h3>{{text}}</h3>
    <form action="" method="post">
        {{test_form}}
        {% csrf_token %}
        <input type="submit" name= "submit" value="submit" >
    </form>
    <hr>

    {%if form_submit %}
     <p>name:{{user_name}}</p>
     <p>date of birth :{{user_dob}}</p>
     <p>email: {{user_email}}</p>
    {% endif %}
</body>
</html>